
/* MAIN */
main .box{
  height: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  background-color: black;
  padding-bottom: 10px;
}
main .box .img{
  position: relative;
  background-image: url('https://i.picsum.photos/id/1004/5616/3744.jpg?hmac=Or7EJnz-ky5bsKa9_frdDcDCR9VhCP8kMnbZV6-WOrY');
  background-size: cover;
  background-position: center;
  width: 240px;
  height: 145px;
  flex-shrink: 0;
  margin: 0 2px;
}

main .box .img .name-mic{
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  width: 40%;
  height: 1.5rem;
  padding: 3px;
}

main .box .img .name-mic span{
  font-size: 0.85rem;
}
/* /MAIN */

/* FOOTER */
footer{
  justify-content: space-between;
  background-color: black;
}

footer .box{
  height: 100%;
}
footer .box-sinistro ul{
  padding-left: 20px;
}
footer .fa-microphone, footer .fa-video{
  font-size: 1.8rem;
  padding-bottom: 6px;
}

footer li a.d-flex{
  flex-direction: column;
}

footer li a span{
  font-size: 0.9rem;
}



/* /FOOTER */