/* HEADER */
header{
  background-color: black;
  justify-content: flex-end;
}
header span{
  color: white;
  font-size: 0.9rem;
}
header .box{
  background-color: #4a4a4a;
  height: 30%;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 5px;
}
header .fa-table-cells{
  margin-right: 5px;
}

header .fa-solid{
  font-size: 0.8rem;
}
/* /HEADER */

/* MAIN */
main .box{
  height: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  background-color: black;
  padding-bottom: 10px;
}
main .box .img{
  position: relative;
  background-image: url('https://i.picsum.photos/id/1004/5616/3744.jpg?hmac=Or7EJnz-ky5bsKa9_frdDcDCR9VhCP8kMnbZV6-WOrY');
  background-size: cover;
  background-position: center;
  width: 240px;
  height: 145px;
  flex-shrink: 0;
  margin: 0 2px;
}

main .box .img .name-mic{
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  width: 40%;
  height: 1.5rem;
  padding: 3px;
}

main .box .img .name-mic span{
  font-size: 0.85rem;
}
/* /MAIN */

/* FOOTER */
footer{
  justify-content: space-between;
  background-color: #222222;
}

footer .box{
  height: 100%;
}

/* BOX SINISTRO */
footer .box-sinistro ul{
  padding-left: 20px;
}

footer .box-sinistro .fa-chevron-up{
  padding: 0 15px;
  font-size: 0.6rem;
}


footer li a.d-flex{
  flex-direction: column;
}

footer li a span{
  font-size: 0.9rem;
}
/* /BOX SINISTRO */

/* BOX CENTRALE */
footer .box-centrale li{
  padding-right: 20px;
}

footer .box-centrale .fa-chevron-up{
  font-size: 0.6rem;
}
/* /BOX CENTRALE */


/* /BOX DESTRO */
footer .box-destro{
  background-color: #4a4a4a;
}
footer .box-destro span{
  color: red;
  font-size: 0.8rem;
  padding: 0 20px;
}
/* /BOX DESTRO */

/* /FOOTER */