.debug{
  border: 1px solid black;
  background-color: rgba(226, 154, 154, 0.3);
}

.d-flex{
  display: flex;
}

.center{
  align-items: center;
  justify-content: center;
}

footer .fa-style{
  font-size: 1.8rem;
  padding-bottom: 6px;
}
